In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector

# Kết nối MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Minhthinh@2k5",
    database="DB_STORAGE2"
)

# Lấy toàn bộ dữ liệu từ bảng
query = "SELECT * FROM houses"
df = pd.read_sql(query, conn)

# Đóng kết nối
conn.close()

# Kiểm tra dữ liệu
print(df.shape)     # Số dòng, số cột
print(df.info())    # Kiểu dữ liệu

(2410, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2410 entries, 0 to 2409
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2410 non-null   int64
 1   location       2410 non-null   object
 2   price          2333 non-null   object
 3   area           2410 non-null   object
 4   date_posted    2410 non-null   object
 5   fridge         2410 non-null   object
 6   washer         2410 non-null   object
 7   air_condition  2410 non-null   object
 8   wifi           2410 non-null   object
dtypes: int64(1), object(8)
memory usage: 169.6+ KB
None

C:\Users\PC THINH\AppData\Local\Temp\ipykernel_11208\3993899615.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [6]:
#Mô tả thống kê cơ bản→ Giúp bạn biết giá trị trung bình, min, max, độ lệch chuẩn, giá trị thiếu (NaN)...
df.describe(include="all")

,id,location,price,area,date_posted,fridge,washer,air_condition,wifi
count,2410.000000,2410,2333,2410,2410,2410,2410,2410,2410
unique,NaN,7,39,35,56,2,2,2,2
top,NaN,"Hải Châu, Đà Nẵng",1500000.0,20.0,2021-10-28,0,0,0,0
freq,NaN,608,353,640,479,1668,1608,1644,1375
mean,1302.889627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,743.834550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,655.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1309.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1938.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2575.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#kiểm tra dữ liệu bị thiếu (NaN)
df.isnull().sum().sort_values(ascending=False)

price            77
id                0
location          0
area              0
date_posted       0
fridge            0
washer            0
air_condition     0
wifi              0
dtype: int64

In [8]:
df = df.dropna(subset=['price'])

In [9]:
#Ép kiểu dữ liệu đúng chuẩn -> 
print(df.dtypes)
df["price"] = pd.to_numeric(df["price"], errors="coerce")
df["area"] = pd.to_numeric(df["area"], errors="coerce")

df["date_posted"] = pd.to_datetime(df["date_posted"], errors="coerce")

id                int64
location         object
price            object
area             object
date_posted      object
fridge           object
washer           object
air_condition    object
wifi             object
dtype: object

In [10]:
print(df.describe(include="all"))
print(df.info())

                 id           location         price         area  \
count   2333.000000               2333  2.333000e+03  2333.000000
unique          NaN                  7           NaN          NaN
top             NaN  Hải Châu, Đà Nẵng           NaN          NaN
freq            NaN                586           NaN          NaN
mean    1266.402057                NaN  2.887235e+07    26.381054
min        1.000000                NaN  1.000000e+06     5.000000
25%      636.000000                NaN  1.500000e+06    20.000000
50%     1271.000000                NaN  2.000000e+06    20.000000
75%     1881.000000                NaN  2.500000e+06    26.000000
max     2575.000000                NaN  1.000000e+10   390.000000
std      727.695933                NaN  4.263963e+08    27.634811

                          date_posted fridge washer air_condition  wifi
count                            2333   2333   2333          2333  2333
unique                            NaN      2      2             2     2
top                               NaN      0      0             0     0
freq                              NaN   1622   1563          1598  1337
mean    2022-06-05 12:26:50.972996096    NaN    NaN           NaN   NaN
min               2021-10-16 00:00:00    NaN    NaN           NaN   NaN
25%               2021-10-21 00:00:00    NaN    NaN           NaN   NaN
50%               2021-10-28 00:00:00    NaN    NaN           NaN   NaN
75%               2022-10-23 00:00:00    NaN    NaN           NaN   NaN
max               2025-10-23 00:00:00    NaN    NaN           NaN   NaN
std                               NaN    NaN    NaN           NaN   NaN
<class 'pandas.core.frame.DataFrame'>
Index: 2333 entries, 0 to 2409
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2333 non-null   int64
 1   location       2333 non-null   object
 2   price          2333 non-null   float64
 3   area           2333 non-null   float64
 4   date_posted    2333 non-null   datetime64[ns]
 5   fridge         2333 non-null   object
 6   washer         2333 non-null   object
 7   air_condition  2333 non-null   object
 8   wifi           2333 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 182.3+ KB
None

In [12]:
df = df[(df['price'] >= 1000000) & (df['price'] <= 10000000)]
df = df[(df['area'] >= 10) & (df['area'] <= 50)]

df['district'] = df['location'].apply(lambda x: x.split(',')[0].strip())

In [13]:
print(" Shape sau khi lọc:", df.shape)
print("\n Giá trị thống kê Price:")
print(df['price'].describe())
print("\n Thống kê Area:")
print(df['area'].describe())
print("\n Giá trị unique District:")
print(df['district'].value_counts())

 Shape sau khi lọc: (2244, 10)

 Giá trị thống kê Price:
count    2.244000e+03
mean     2.088770e+06
std      8.524380e+05
min      1.000000e+06
25%      1.500000e+06
50%      1.900000e+06
75%      2.500000e+06
max      6.900000e+06
Name: price, dtype: float64

 Thống kê Area:
count    2244.000000
mean       23.373886
std         6.915557
min        10.000000
25%        20.000000
50%        20.000000
75%        25.000000
max        50.000000
Name: area, dtype: float64

 Giá trị unique District:
district
Hải Châu        580
Ngũ Hành Sơn    428
Liên Chiểu      352
Thanh Khê       341
Cẩm Lệ          307
Sơn Trà         213
Hòa Vang         23
Name: count, dtype: int64

In [14]:
df[df.duplicated(subset=["location", "price", "area"], keep=False)]

,id,location,price,area,date_posted,fridge,washer,air_condition,wifi,district
0,1,"Cẩm Lệ, Đà Nẵng",6900000.0,50.0,2025-09-16,1,1,1,1,Cẩm Lệ
1,2,"Hải Châu, Đà Nẵng",5000000.0,35.0,2025-08-16,1,1,1,1,Hải Châu
2,3,"Hải Châu, Đà Nẵng",2500000.0,23.0,2025-07-16,0,0,0,1,Hải Châu
3,4,"Hải Châu, Đà Nẵng",1000000.0,20.0,2025-07-16,0,0,0,0,Hải Châu
5,6,"Hải Châu, Đà Nẵng",1900000.0,20.0,2025-06-16,0,0,0,0,Hải Châu
...,...,...,...,...,...,...,...,...,...,...
2403,2569,"Hải Châu, Đà Nẵng",1300000.0,25.0,2021-10-30,1,1,1,1,Hải Châu
2405,2571,"Hải Châu, Đà Nẵng",2000000.0,25.0,2021-10-30,0,0,0,0,Hải Châu
2406,2572,"Ngũ Hành Sơn, Đà Nẵng",2300000.0,25.0,2021-10-30,0,0,0,0,Ngũ Hành Sơn
2408,2574,"Hải Châu, Đà Nẵng",1700000.0,28.0,2021-10-30,1,1,1,1,Hải Châu
2409,2575,"Hải Châu, Đà Nẵng",3000000.0,35.0,2021-10-30,0,0,1,1,Hải Châu

In [15]:
df = df[df["price"] > 0]
df = df.drop_duplicates()
df = df.dropna(subset=["price", "area"])
duplicates = df[df.duplicated()]
print(f"Số dòng trùng lặp: {len(duplicates)}")
duplicates.head()

Số dòng trùng lặp: 0

Empty DataFrame
Columns: [id, location, price, area, date_posted, fridge, washer, air_condition, wifi, district]
Index: []

In [16]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 2244 entries, 0 to 2409
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2244 non-null   int64
 1   location       2244 non-null   object
 2   price          2244 non-null   float64
 3   area           2244 non-null   float64
 4   date_posted    2244 non-null   datetime64[ns]
 5   fridge         2244 non-null   object
 6   washer         2244 non-null   object
 7   air_condition  2244 non-null   object
 8   wifi           2244 non-null   object
 9   district       2244 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 192.8+ KB
None
                id         price         area                    date_posted
count  2244.000000  2.244000e+03  2244.000000                           2244
mean   1248.772727  2.088770e+06    23.373886  2022-05-23 00:09:37.540107008
min       1.000000  1.000000e+06    10.000000            2021-10-16 00:00:00
25%     620.750000  1.500000e+06    20.000000            2021-10-21 00:00:00
50%    1243.500000  1.900000e+06    20.000000            2021-10-28 00:00:00
75%    1860.250000  2.500000e+06    25.000000            2022-10-21 00:00:00
max    2575.000000  6.900000e+06    50.000000            2025-10-23 00:00:00
std     725.266990  8.524380e+05     6.915557                            NaN

In [22]:
# Loại bỏ 'Quận', 'quận', chuẩn hóa
df['district'] = df['district'].str.replace(r'Quận |quận ', '', regex=True).str.title().str.strip()

In [17]:
'''
Loại bỏ ngoại lệ (outliers)

Dữ liệu lớn thường có giá “ảo” (nhập sai đơn vị: 200 triệu thay vì 2 triệu).
→ Dùng IQR hoặc quantile để loại bỏ:

'''
Q1 = df["price"].quantile(0.25)
Q3 = df["price"].quantile(0.75)
IQR = Q3 - Q1
df = df[(df["price"] >= Q1 - 1.5*IQR) & (df["price"] <= Q3 + 1.5*IQR)]

In [18]:
utilities = ['fridge', 'washer', 'air_condition', 'wifi']

for col in utilities:
    df[col] = df[col].apply(lambda x: 1 if '1' in str(x) else 0)

df[utilities] = df[utilities].astype(int)

print(df[utilities].head())
print(df[utilities].mean())

   fridge  washer  air_condition  wifi
2       0       0              0     1
3       0       0              0     0
5       0       0              0     0
6       0       0              0     0
7       1       1              1     1
fridge           0.298678
washer           0.325581
air_condition    0.309622
wifi             0.428637
dtype: float64

In [19]:
# Tính phần trăm tiện ích có trong phòng
utility_percent = (df[['fridge', 'washer', 'air_condition', 'wifi']].mean() * 100).round(2)
print("📊 Tỷ lệ phòng có tiện ích (%):")
print(utility_percent)

📊 Tỷ lệ phòng có tiện ích (%):
fridge           29.87
washer           32.56
air_condition    30.96
wifi             42.86
dtype: float64

In [ ]:
import pandas as pd

# 1️⃣ Kiểm tra kích thước dữ liệu
print("Shape dữ liệu:", df.shape)

# 2️⃣ Kiểm tra dữ liệu null
print("\nNull values:")
print(df.isnull().sum())

# 3️⃣ Kiểm tra kiểu dữ liệu của các cột
print("\nKiểu dữ liệu (dtypes):")
print(df.dtypes)

# 4️⃣ Kiểm tra dữ liệu trùng lặp
dups = df.duplicated().sum()
print(f"\nSố dòng trùng lặp: {dups}")

# 5️⃣ Kiểm tra thống kê cơ bản của số (price, area,…)
print("\nThống kê mô tả các cột dạng số:")
print(df.describe())

# 6️⃣ Kiểm tra cột category: có giá trị bất thường không?
print("\nUnique District:", df['district'].unique())

# 7️⃣ Kiểm tra logic giá và diện tích
print("\nGiá trị MIN-MAX Price:", df['price'].min(), '-', df['price'].max())
print(" Giá trị MIN-MAX Area:", df['area'].min(), '-', df['area'].max())

# 8️⃣ Kiểm tra ngày đăng có lỗi tương lai?
future_date_count = sum(df['date_posted'] > pd.Timestamp.today())
print(f"\nSố bản ghi có ngày đăng trong tương lai: {future_date_count}")

# 9️⃣ Kiểm tra phân phối District (xem có lệch quá không?)
print("\nSố lượng phòng theo quận:")
print(df['district'].value_counts())

 Shape dữ liệu: (2193, 10)

 Null values:
id               0
location         0
price            0
area             0
date_posted      0
fridge           0
washer           0
air_condition    0
wifi             0
district         0
dtype: int64

 Kiểu dữ liệu (dtypes):
id                        int64
location                 object
price                   float64
area                    float64
date_posted      datetime64[ns]
fridge                    int64
washer                    int64
air_condition             int64
wifi                      int64
district                 object
dtype: object

 Số dòng trùng lặp: 0

 Thống kê mô tả các cột dạng số:
                id         price         area                    date_posted  \
count  2193.000000  2.193000e+03  2193.000000                           2193
mean   1249.161879  2.007387e+06    23.055176  2022-05-08 14:59:35.376197120
min       3.000000  1.000000e+06    10.000000            2021-10-16 00:00:00
25%     619.000000  1.500000e+06    20.000000            2021-10-21 00:00:00
50%    1244.000000  1.900000e+06    20.000000            2021-10-28 00:00:00
75%    1860.000000  2.500000e+06    25.000000            2022-10-16 00:00:00
max    2575.000000  4.000000e+06    50.000000            2025-10-23 00:00:00
std     725.239630  6.608997e+05     6.483075                            NaN

            fridge       washer  air_condition         wifi
count  2193.000000  2193.000000    2193.000000  2193.000000
mean      0.298678     0.325581       0.309622     0.428637
min       0.000000     0.000000       0.000000     0.000000
25%       0.000000     0.000000       0.000000     0.000000
50%       0.000000     0.000000       0.000000     0.000000
75%       1.000000     1.000000       1.000000     1.000000
max       1.000000     1.000000       1.000000     1.000000
std       0.457783     0.468699       0.462443     0.494994

 Unique District: ['Hải Châu' 'Ngũ Hành Sơn' 'Cẩm Lệ' 'Sơn Trà' 'Liên Chiểu' 'Thanh Khê'
 'Hòa Vang']

 Giá trị MIN-MAX Price: 1000000.0 - 4000000.0
 Giá trị MIN-MAX Area: 10.0 - 50.0

 Số bản ghi có ngày đăng trong tương lai: 0

 Số lượng phòng theo quận:
district
Hải Châu        563
Ngũ Hành Sơn    418
Liên Chiểu      352
Thanh Khê       341
Cẩm Lệ          297
Sơn Trà         206
Hòa Vang         16
Name: count, dtype: int64