In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector

# K·∫øt n·ªëi MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Minhthinh@2k5",
    database="DB_STORAGE2"
)

# L·∫•y to√†n b·ªô d·ªØ li·ªáu t·ª´ b·∫£ng
query = "SELECT * FROM houses"
df = pd.read_sql(query, conn)

# ƒê√≥ng k·∫øt n·ªëi
conn.close()

# Ki·ªÉm tra d·ªØ li·ªáu
print(df.shape)     # S·ªë d√≤ng, s·ªë c·ªôt
print(df.info())    # Ki·ªÉu d·ªØ li·ªáu

(2410, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2410 entries, 0 to 2409
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2410 non-null   int64
 1   location       2410 non-null   object
 2   price          2333 non-null   object
 3   area           2410 non-null   object
 4   date_posted    2410 non-null   object
 5   fridge         2410 non-null   object
 6   washer         2410 non-null   object
 7   air_condition  2410 non-null   object
 8   wifi           2410 non-null   object
dtypes: int64(1), object(8)
memory usage: 169.6+ KB
None

C:\Users\PC THINH\AppData\Local\Temp\ipykernel_11208\3993899615.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [6]:
#M√¥ t·∫£ th·ªëng k√™ c∆° b·∫£n‚Üí Gi√∫p b·∫°n bi·∫øt gi√° tr·ªã trung b√¨nh, min, max, ƒë·ªô l·ªách chu·∫©n, gi√° tr·ªã thi·∫øu (NaN)...
df.describe(include="all")

,id,location,price,area,date_posted,fridge,washer,air_condition,wifi
count,2410.000000,2410,2333,2410,2410,2410,2410,2410,2410
unique,NaN,7,39,35,56,2,2,2,2
top,NaN,"H·∫£i Ch√¢u, ƒê√† N·∫µng",1500000.0,20.0,2021-10-28,0,0,0,0
freq,NaN,608,353,640,479,1668,1608,1644,1375
mean,1302.889627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,743.834550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,655.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1309.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1938.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2575.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#ki·ªÉm tra d·ªØ li·ªáu b·ªã thi·∫øu (NaN)
df.isnull().sum().sort_values(ascending=False)

price            77
id                0
location          0
area              0
date_posted       0
fridge            0
washer            0
air_condition     0
wifi              0
dtype: int64

In [8]:
df = df.dropna(subset=['price'])

In [9]:
#√âp ki·ªÉu d·ªØ li·ªáu ƒë√∫ng chu·∫©n -> 
print(df.dtypes)
df["price"] = pd.to_numeric(df["price"], errors="coerce")
df["area"] = pd.to_numeric(df["area"], errors="coerce")

df["date_posted"] = pd.to_datetime(df["date_posted"], errors="coerce")

id                int64
location         object
price            object
area             object
date_posted      object
fridge           object
washer           object
air_condition    object
wifi             object
dtype: object

In [10]:
print(df.describe(include="all"))
print(df.info())

                 id           location         price         area  \
count   2333.000000               2333  2.333000e+03  2333.000000
unique          NaN                  7           NaN          NaN
top             NaN  H·∫£i Ch√¢u, ƒê√† N·∫µng           NaN          NaN
freq            NaN                586           NaN          NaN
mean    1266.402057                NaN  2.887235e+07    26.381054
min        1.000000                NaN  1.000000e+06     5.000000
25%      636.000000                NaN  1.500000e+06    20.000000
50%     1271.000000                NaN  2.000000e+06    20.000000
75%     1881.000000                NaN  2.500000e+06    26.000000
max     2575.000000                NaN  1.000000e+10   390.000000
std      727.695933                NaN  4.263963e+08    27.634811

                          date_posted fridge washer air_condition  wifi
count                            2333   2333   2333          2333  2333
unique                            NaN      2      2             2     2
top                               NaN      0      0             0     0
freq                              NaN   1622   1563          1598  1337
mean    2022-06-05 12:26:50.972996096    NaN    NaN           NaN   NaN
min               2021-10-16 00:00:00    NaN    NaN           NaN   NaN
25%               2021-10-21 00:00:00    NaN    NaN           NaN   NaN
50%               2021-10-28 00:00:00    NaN    NaN           NaN   NaN
75%               2022-10-23 00:00:00    NaN    NaN           NaN   NaN
max               2025-10-23 00:00:00    NaN    NaN           NaN   NaN
std                               NaN    NaN    NaN           NaN   NaN
<class 'pandas.core.frame.DataFrame'>
Index: 2333 entries, 0 to 2409
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2333 non-null   int64
 1   location       2333 non-null   object
 2   price          2333 non-null   float64
 3   area           2333 non-null   float64
 4   date_posted    2333 non-null   datetime64[ns]
 5   fridge         2333 non-null   object
 6   washer         2333 non-null   object
 7   air_condition  2333 non-null   object
 8   wifi           2333 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 182.3+ KB
None

In [12]:
df = df[(df['price'] >= 1000000) & (df['price'] <= 10000000)]
df = df[(df['area'] >= 10) & (df['area'] <= 50)]

df['district'] = df['location'].apply(lambda x: x.split(',')[0].strip())

In [13]:
print(" Shape sau khi l·ªçc:", df.shape)
print("\n Gi√° tr·ªã th·ªëng k√™ Price:")
print(df['price'].describe())
print("\n Th·ªëng k√™ Area:")
print(df['area'].describe())
print("\n Gi√° tr·ªã unique District:")
print(df['district'].value_counts())

 Shape sau khi l·ªçc: (2244, 10)

 Gi√° tr·ªã th·ªëng k√™ Price:
count    2.244000e+03
mean     2.088770e+06
std      8.524380e+05
min      1.000000e+06
25%      1.500000e+06
50%      1.900000e+06
75%      2.500000e+06
max      6.900000e+06
Name: price, dtype: float64

 Th·ªëng k√™ Area:
count    2244.000000
mean       23.373886
std         6.915557
min        10.000000
25%        20.000000
50%        20.000000
75%        25.000000
max        50.000000
Name: area, dtype: float64

 Gi√° tr·ªã unique District:
district
H·∫£i Ch√¢u        580
Ng≈© H√†nh S∆°n    428
Li√™n Chi·ªÉu      352
Thanh Kh√™       341
C·∫©m L·ªá          307
S∆°n Tr√†         213
H√≤a Vang         23
Name: count, dtype: int64

In [14]:
df[df.duplicated(subset=["location", "price", "area"], keep=False)]

,id,location,price,area,date_posted,fridge,washer,air_condition,wifi,district
0,1,"C·∫©m L·ªá, ƒê√† N·∫µng",6900000.0,50.0,2025-09-16,1,1,1,1,C·∫©m L·ªá
1,2,"H·∫£i Ch√¢u, ƒê√† N·∫µng",5000000.0,35.0,2025-08-16,1,1,1,1,H·∫£i Ch√¢u
2,3,"H·∫£i Ch√¢u, ƒê√† N·∫µng",2500000.0,23.0,2025-07-16,0,0,0,1,H·∫£i Ch√¢u
3,4,"H·∫£i Ch√¢u, ƒê√† N·∫µng",1000000.0,20.0,2025-07-16,0,0,0,0,H·∫£i Ch√¢u
5,6,"H·∫£i Ch√¢u, ƒê√† N·∫µng",1900000.0,20.0,2025-06-16,0,0,0,0,H·∫£i Ch√¢u
...,...,...,...,...,...,...,...,...,...,...
2403,2569,"H·∫£i Ch√¢u, ƒê√† N·∫µng",1300000.0,25.0,2021-10-30,1,1,1,1,H·∫£i Ch√¢u
2405,2571,"H·∫£i Ch√¢u, ƒê√† N·∫µng",2000000.0,25.0,2021-10-30,0,0,0,0,H·∫£i Ch√¢u
2406,2572,"Ng≈© H√†nh S∆°n, ƒê√† N·∫µng",2300000.0,25.0,2021-10-30,0,0,0,0,Ng≈© H√†nh S∆°n
2408,2574,"H·∫£i Ch√¢u, ƒê√† N·∫µng",1700000.0,28.0,2021-10-30,1,1,1,1,H·∫£i Ch√¢u
2409,2575,"H·∫£i Ch√¢u, ƒê√† N·∫µng",3000000.0,35.0,2021-10-30,0,0,1,1,H·∫£i Ch√¢u

In [15]:
df = df[df["price"] > 0]
df = df.drop_duplicates()
df = df.dropna(subset=["price", "area"])
duplicates = df[df.duplicated()]
print(f"S·ªë d√≤ng tr√πng l·∫∑p: {len(duplicates)}")
duplicates.head()

S·ªë d√≤ng tr√πng l·∫∑p: 0

Empty DataFrame
Columns: [id, location, price, area, date_posted, fridge, washer, air_condition, wifi, district]
Index: []

In [16]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 2244 entries, 0 to 2409
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2244 non-null   int64
 1   location       2244 non-null   object
 2   price          2244 non-null   float64
 3   area           2244 non-null   float64
 4   date_posted    2244 non-null   datetime64[ns]
 5   fridge         2244 non-null   object
 6   washer         2244 non-null   object
 7   air_condition  2244 non-null   object
 8   wifi           2244 non-null   object
 9   district       2244 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 192.8+ KB
None
                id         price         area                    date_posted
count  2244.000000  2.244000e+03  2244.000000                           2244
mean   1248.772727  2.088770e+06    23.373886  2022-05-23 00:09:37.540107008
min       1.000000  1.000000e+06    10.000000            2021-10-16 00:00:00
25%     620.750000  1.500000e+06    20.000000            2021-10-21 00:00:00
50%    1243.500000  1.900000e+06    20.000000            2021-10-28 00:00:00
75%    1860.250000  2.500000e+06    25.000000            2022-10-21 00:00:00
max    2575.000000  6.900000e+06    50.000000            2025-10-23 00:00:00
std     725.266990  8.524380e+05     6.915557                            NaN

In [22]:
# Lo·∫°i b·ªè 'Qu·∫≠n', 'qu·∫≠n', chu·∫©n h√≥a
df['district'] = df['district'].str.replace(r'Qu·∫≠n |qu·∫≠n ', '', regex=True).str.title().str.strip()

In [17]:
'''
Lo·∫°i b·ªè ngo·∫°i l·ªá (outliers)

D·ªØ li·ªáu l·ªõn th∆∞·ªùng c√≥ gi√° ‚Äú·∫£o‚Äù (nh·∫≠p sai ƒë∆°n v·ªã: 200 tri·ªáu thay v√¨ 2 tri·ªáu).
‚Üí D√πng IQR ho·∫∑c quantile ƒë·ªÉ lo·∫°i b·ªè:

'''
Q1 = df["price"].quantile(0.25)
Q3 = df["price"].quantile(0.75)
IQR = Q3 - Q1
df = df[(df["price"] >= Q1 - 1.5*IQR) & (df["price"] <= Q3 + 1.5*IQR)]

In [18]:
utilities = ['fridge', 'washer', 'air_condition', 'wifi']

for col in utilities:
    df[col] = df[col].apply(lambda x: 1 if '1' in str(x) else 0)

df[utilities] = df[utilities].astype(int)

print(df[utilities].head())
print(df[utilities].mean())

   fridge  washer  air_condition  wifi
2       0       0              0     1
3       0       0              0     0
5       0       0              0     0
6       0       0              0     0
7       1       1              1     1
fridge           0.298678
washer           0.325581
air_condition    0.309622
wifi             0.428637
dtype: float64

In [19]:
# T√≠nh ph·∫ßn trƒÉm ti·ªán √≠ch c√≥ trong ph√≤ng
utility_percent = (df[['fridge', 'washer', 'air_condition', 'wifi']].mean() * 100).round(2)
print("üìä T·ª∑ l·ªá ph√≤ng c√≥ ti·ªán √≠ch (%):")
print(utility_percent)

üìä T·ª∑ l·ªá ph√≤ng c√≥ ti·ªán √≠ch (%):
fridge           29.87
washer           32.56
air_condition    30.96
wifi             42.86
dtype: float64

In [ ]:
import pandas as pd

# 1Ô∏è‚É£ Ki·ªÉm tra k√≠ch th∆∞·ªõc d·ªØ li·ªáu
print("Shape d·ªØ li·ªáu:", df.shape)

# 2Ô∏è‚É£ Ki·ªÉm tra d·ªØ li·ªáu null
print("\nNull values:")
print(df.isnull().sum())

# 3Ô∏è‚É£ Ki·ªÉm tra ki·ªÉu d·ªØ li·ªáu c·ªßa c√°c c·ªôt
print("\nKi·ªÉu d·ªØ li·ªáu (dtypes):")
print(df.dtypes)

# 4Ô∏è‚É£ Ki·ªÉm tra d·ªØ li·ªáu tr√πng l·∫∑p
dups = df.duplicated().sum()
print(f"\nS·ªë d√≤ng tr√πng l·∫∑p: {dups}")

# 5Ô∏è‚É£ Ki·ªÉm tra th·ªëng k√™ c∆° b·∫£n c·ªßa s·ªë (price, area,‚Ä¶)
print("\nTh·ªëng k√™ m√¥ t·∫£ c√°c c·ªôt d·∫°ng s·ªë:")
print(df.describe())

# 6Ô∏è‚É£ Ki·ªÉm tra c·ªôt category: c√≥ gi√° tr·ªã b·∫•t th∆∞·ªùng kh√¥ng?
print("\nUnique District:", df['district'].unique())

# 7Ô∏è‚É£ Ki·ªÉm tra logic gi√° v√† di·ªán t√≠ch
print("\nGi√° tr·ªã MIN-MAX Price:", df['price'].min(), '-', df['price'].max())
print(" Gi√° tr·ªã MIN-MAX Area:", df['area'].min(), '-', df['area'].max())

# 8Ô∏è‚É£ Ki·ªÉm tra ng√†y ƒëƒÉng c√≥ l·ªói t∆∞∆°ng lai?
future_date_count = sum(df['date_posted'] > pd.Timestamp.today())
print(f"\nS·ªë b·∫£n ghi c√≥ ng√†y ƒëƒÉng trong t∆∞∆°ng lai: {future_date_count}")

# 9Ô∏è‚É£ Ki·ªÉm tra ph√¢n ph·ªëi District (xem c√≥ l·ªách qu√° kh√¥ng?)
print("\nS·ªë l∆∞·ª£ng ph√≤ng theo qu·∫≠n:")
print(df['district'].value_counts())

 Shape d·ªØ li·ªáu: (2193, 10)

 Null values:
id               0
location         0
price            0
area             0
date_posted      0
fridge           0
washer           0
air_condition    0
wifi             0
district         0
dtype: int64

 Ki·ªÉu d·ªØ li·ªáu (dtypes):
id                        int64
location                 object
price                   float64
area                    float64
date_posted      datetime64[ns]
fridge                    int64
washer                    int64
air_condition             int64
wifi                      int64
district                 object
dtype: object

 S·ªë d√≤ng tr√πng l·∫∑p: 0

 Th·ªëng k√™ m√¥ t·∫£ c√°c c·ªôt d·∫°ng s·ªë:
                id         price         area                    date_posted  \
count  2193.000000  2.193000e+03  2193.000000                           2193
mean   1249.161879  2.007387e+06    23.055176  2022-05-08 14:59:35.376197120
min       3.000000  1.000000e+06    10.000000            2021-10-16 00:00:00
25%     619.000000  1.500000e+06    20.000000            2021-10-21 00:00:00
50%    1244.000000  1.900000e+06    20.000000            2021-10-28 00:00:00
75%    1860.000000  2.500000e+06    25.000000            2022-10-16 00:00:00
max    2575.000000  4.000000e+06    50.000000            2025-10-23 00:00:00
std     725.239630  6.608997e+05     6.483075                            NaN

            fridge       washer  air_condition         wifi
count  2193.000000  2193.000000    2193.000000  2193.000000
mean      0.298678     0.325581       0.309622     0.428637
min       0.000000     0.000000       0.000000     0.000000
25%       0.000000     0.000000       0.000000     0.000000
50%       0.000000     0.000000       0.000000     0.000000
75%       1.000000     1.000000       1.000000     1.000000
max       1.000000     1.000000       1.000000     1.000000
std       0.457783     0.468699       0.462443     0.494994

 Unique District: ['H·∫£i Ch√¢u' 'Ng≈© H√†nh S∆°n' 'C·∫©m L·ªá' 'S∆°n Tr√†' 'Li√™n Chi·ªÉu' 'Thanh Kh√™'
 'H√≤a Vang']

 Gi√° tr·ªã MIN-MAX Price: 1000000.0 - 4000000.0
 Gi√° tr·ªã MIN-MAX Area: 10.0 - 50.0

 S·ªë b·∫£n ghi c√≥ ng√†y ƒëƒÉng trong t∆∞∆°ng lai: 0

 S·ªë l∆∞·ª£ng ph√≤ng theo qu·∫≠n:
district
H·∫£i Ch√¢u        563
Ng≈© H√†nh S∆°n    418
Li√™n Chi·ªÉu      352
Thanh Kh√™       341
C·∫©m L·ªá          297
S∆°n Tr√†         206
H√≤a Vang         16
Name: count, dtype: int64